mixin ext(extensions)
	- let out;
	if extensions.length > 1
		- out = `{${extensions.join(",")}}`
	else
		- out = extensions[0]
	code= `[*.${out}]`
-
	function html(hex) {
		return `&#x${hex};`
	}
-
	function join(arr) {
		const last = arr.pop();
		const joined = [
			arr.join(", "),
			last
		].join(" & ");
		return joined
	}
- space = html("20")
- arrow = html("2192")
-
	tags = [
		"Colony",
		"Deity",
		"Fantasy",
		"Idle",
		"Incremental",
		"Management",
		"Simulator"
	]
-
	langs = [
		[
			[
				["Pug"],
				["pug"]
			],
			[
				["HTML","Markdown"],
				["html","md"]
			]
		],
		[
			[
				["Sass"],
				["scss"]
			],
			[
				["CSS"],
				["css"]
			]
		],
		[
			[
				["TypeScript"],
				["ts"]
			],
			[
				["JavaScript"],
				["js"]
			]
		]
	]
-
	elements = [
		[
			"Earth",
			"Air",
			"Water",
			"Fire"
		],
		[
			"Energy"
		],
		[
			"Dark",
			"Light"
		]
	]
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(
			href="style.css"
			rel="stylesheet"
		)
	body
		h1 Colony Idle
		for tag, i in tags
			code ##{tag}
			if i !== tags.length-1
				| ,!{space}
		h2 Software
		dl
			dt OS
			dd Linux (WSL Ubuntu)
			dt IDE
			dd VSCode
			dt Languages
			dd
				table
					for lang in langs
							tr
								th= join(lang[0][0])
								th!= arrow
								th= join(lang[1][0])
							tr
								td: +ext(lang[0][1])
								td
								td: +ext(lang[1][1])
		h2 Gameplay
		ul
			li
				| Earn Resources
				ul
					li
						| Faith
						ul: li
							| Prestige Resource
							ul: li Spent on permanent upgrades
					li
						| Food
						ul: dl
							dt Deficit
							dd Production penalty
							dt Surplus
							dd Production bonus
					li Stone
					li Wood
			li
				| Employ colonists
				ul
					li
						| Faith
						ul: dl
							dt Priest
							dd Late-stage colony
					li
						| Food
						ul: dl
							dt Farmer
							dd Less speed
							dd More yield
							dt Hunter
							dd Less yield
							dd More speed
					li
						| Stone
						ul: dl
							dt Miner
							dd Less speed
							dd More yield
							dt Quarrier
							dd Less yield
							dd More speed
					li
						| Wood
						ul: dl
							dt Forester
							dd Less speed
							dd More yield
							dt Lumberjack
							dd Less yield
							dd More speed
			li
				| Player
				ul
					li
						| Avatar
						ul
							li
								| Managing the colony
								ul
									li Assigning resources
									li Employing colonists
							li
								| Same colonist throughout the lifetime of a single colony
								ul
									li
										| Like other colonists, dies during the apocalypse
										ul: li A new avatar is chosen at the start of a new colony
									li Personal health directly linked to the health of the colony
					li
						| Deity
						ul
							li
								| Apocalypse prestige
								ul
									li
										| Each domain has a specific apocalypse
										ul
											li
												| Each apocalypse is functionally identical
												ul: li Choosing one apocalypse over another changes nothing about the next run
											li
												| Visually distinct
												ul: li Just visual flavour
									li
										| End the world
										ul: li
											| Start again with more power
											ul
												li
													| Achievements
													ul
														li Give permanent bonuses
														li Leave behind "relics" of past colonies
												li
													| Unlocks
													ul
														li
															| Better domain tiers
															dl
																for t,ti in elements
																	dt Tier #{ti + 1}
																	ol
																		for e in t
																			dd: li= e
														li
															| Heroes
															ul: li One-of-a-kind colonists with special skills / bonuses
							li
								| Different domains
								ul
									li Domain-specific buffs & debuffs
									li One domain per colony
			li
				| Spend resources
				dl
					dt Food
					dd: li
						| Birth colonists
						ul: li Limited by housing capacity
					dt Stone
					dd
						li Better tools
						li Bigger stone storage
					dt Wood
					dd
						li Bigger wood storage
						li More housing